ul{
    width: 600px;
}

Li {
    color: red;
    float: left;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 500px;
    width: 200px;
    
}